# =============== #
# Unity generated #
# =============== #
.meta
Temp/
Library/
Build/
Builds/
Logs/
UserSettings/Layouts/default-2021.dwlt

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
.vscode/
.plastic/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userosscache
/*.booproj
/*.pidb
/*.svclog
/*.dotCover

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db